.box {
    display: flex;
}
.box div{
    background-color: gray;
    border: 1px solid red;
}
.reverse{
    flex-direction: row-reverse;
}
.column{
    flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}

/*
Menu
 */
nav {
    padding: 1em;
    font-family: Verdana, Geneva, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #333;
}
nav li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: .5em 1em;
}
nav li a:hover {
    background: tomato;
    color: white;
}
@media screen and (min-width: 480px) {
    nav ul {
        display: flex;
        justify-content: flex-end;
    }
}
/*
Uso similar al grid de bootstrap
 */
.wrapper {
    display: flex;
}
.wrapper > div {
    font-size: 4vh;
    color: white;
    background: hotpink;
    margin: .1em;
    padding: .3em;
    border-radius: 3px;
    flex: 1;
}
.wrapper .wrapper > div {
    background: pink;
    color: hotpink;
}
.media {
    display: flex;
    align-items: flex-start;
    background: #F6F3EB;
    padding: 1em;
    border-radius: 3px;
    max-width: 24em;
}
.media-object {
    margin-right: 1em;
}
.media-body {
    flex: 1;
}
.media-heading {
    margin: 0 0 .5em;
}

/*
Referencias:
https://developer.mozilla.org/es/docs/Web/CSS/CSS_Flexible_Box_Layout/Conceptos_Basicos_de_Flexbox
http://w3.unpocodetodo.info/css3/flex-menu.php
https://www.quackit.com/css/flexbox/examples/
 */



