/*
 * Diseño principal como de escritorio sin
 * tamaños predefinidos y ancho del wrapper del 80% centrado
 */
body{
	margin:0;
	padding:0;
}
header{
	background-color: grey;
	text-align: center;
	overflow: hidden;
}
#wrapper {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
section{
	overflow: hidden;
}
article {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	background-color: grey;
	padding: 2%;
	text-align: center;
	height: 400px;
}
#column1 {
	background-color: #96c144;
	width: 100%;
}
#column2 {
	background-color: #6fa843;
	width: 50%;
}
#column3 {
	background-color: #cde0aa;
	width: 50%;
}

/*
 * Tamaño de ancho de 960px
 */
@media screen and (max-width: 960px) {
	#wrapper {
		width: 90%;
		margin: 0 auto;
	}
}
/*
 * Ancho máximo de 640px
 */
@media screen and (max-width: 640px) {
	#wrapper {
		width: 100%;
		margin: 0 auto;
	}
}

/*
 * Ancho máximo de 480px, se permite que las columnas 2 y 3 ocupen todo el ancho
 * y perdemos las dos columnas
 */
@media screen and (max-width: 480px) {
	#wrapper {
		width: 100%;
		margin: 0 auto;
	}
	#column1 {
		width: 100%;
	}
	#column2 {
		width: 100%;
	}
	#column3 {
		width: 100%;
	}
}